@import "tailwindcss";
@import "tw-animate-css";


:root {
  --background: oklch(1 0 0);
  --background-highlight: oklch(0.95 0.001 250);
  --foreground: oklch(0.97 0.001 250);
  --foreground-highlight: oklch(0.9 0.002 250);
  --accent: oklch(.8 0.05 0);
  --icon-accent: oklch(0% 0 0);
  --accent-text: oklch(0 0 0);
  --muted-text: oklch(0.5 0 0);
  --accent-border: oklch(0 0 0);
  --muted-border: oklch(0.92 0.001 250);
}

@theme {
    --color-background: var(--background);
    --color-background-highlight: var(--background-highlight);
    --color-foreground: var(--foreground);
    --color-foreground-highlight: var(--foreground-highlight);
    --color-accent: var(--accent);
    --color-accent-icon: var(--icon-accent);
    --color-accent-text: var(--accent-text);
    --color-muted-text: var(--muted-text);
    --color-accent-border: var(--accent-border);
    --color-muted-border: var(--muted-border);
}