@import "tailwindcss";
@import "tw-animate-css";
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

:root {
  --background: oklch(28.846% 0.03214 272.755);
  --background-highlight: oklch(0.95 0.001 250);
  --foreground: oklch(21.77% 0.03214 272.755);
  --foreground-highlight: oklch(0.9 0.002 250 / 0.4);
  --accent: oklch(.8 0.05 0);
  --icon-accent: oklch(1 0 0);
  --accent-text: oklch(1 0 0);
  --muted-text: oklch(80.193% 0 271);
  --accent-border: oklch(0 0 0);
  --muted-border: oklch(34.77% 0.03214 272.755);
  --muted-border-2: oklch(80.193% 0 271);
  --background-muted: oklch(80.193% 0 271);
} 

@theme {
    --color-background: var(--background);
    --color-background-highlight: var(--background-highlight);
    --color-foreground: var(--foreground);
    --color-foreground-highlight: var(--foreground-highlight);
    --color-accent: var(--accent);
    --color-accent-icon: var(--icon-accent);
    --color-accent-text: var(--accent-text);
    --color-muted-text: var(--muted-text);
    --color-accent-border: var(--accent-border);
    --color-muted-border: var(--muted-border);
    --color-muted-border-2: var(--muted-border-2);
    --color-background-muted: var(--background-muted);
}