@import "tailwindcss";

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.97 0 0);
  --accent: oklch(.8 0.05 0);
  --accent-text: oklch(0 0 0);
  --muted-text: oklch(0.5 0 0);
  --accent-border: oklch(0 0 0);
  --muted-border: oklch(0.9 0 0);
}

@theme {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-accent: var(--accent);
    --color-accent-text: var(--accent-text);
    --color-muted-text: var(--muted-text);
    --color-accent-border: var(--accent-border);
    --color-muted-border: var(--muted-border);
}