@import "tailwindcss";

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.92 0 0);
  --accent: oklch(.8 0.05 0);
  --accent-text: oklch(0 0 0);
  --accent-text-muted: oklch(0.3 0 0);
}

@theme {
  --color-bg: var(--background);
  --color-accent: var(--accent);
  --color-accent-text: var(--accent-text);
  --color-text-dim: var(--accent-text-muted);
}